{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3">Liste des oeuvres</h1>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Trier par auteur
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for author in authors %}
                        <li><a href="{{ path('admin', {id:author.id}) }}" class="text-decoration-none text-black">{{ author.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <h3><a href="{{ path('newart') }}" class="text-decoration-none"><i class="icofont-plus-square">&nbsp; Ajouter une oeuvre</i></a></h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Création</th>
                        <th>Catégorie</th>
                        <th><i class="icofont-ui-delete"></i></th>
                        <th><i class="icofont-edit"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for paint in paintings %}
                        <tr>
                            <td><img src="{{ asset('img/painting/' ~ paint.image) }}" alt="" class="img-table img-fluid img-thumbnail admin-img"></td>
                            <td><a href="{{ path('detail', {id:paint.id}) }}" class="text-decoration-none">{{ paint.title|capitalize }}</a></td>
                            <td>{{ paint.createdAt|date("d/m/Y") }}</td>
                            <td>{{ paint.author.name }}</td>
                            <td>
                                <a href="{{ path('delete', {id:paint.id}) }}"><i class="icofont-ui-delete text-decoration-none"></i></a>
                            </td>
                            <td>
                                <a href="{{ path('editart', {id:paint.id}) }}"><i class="icofont-edit text-decoration-none"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
