{% extends 'base.html.twig' %}

{% block title %}{{ paint.title }} - Page d'information{% endblock %}

{% block body %}
    <main class="container">
        <div class="p-5">
            <h1>{{ paint.title }}</h1>
            <p class="lead"><img class="img-fluid text-center" src="{{ asset('img/painting/' ~ paint.image) }}" alt="{{ paint.title }}"></p>
            <p>{{ paint.description }}</p>
            <p>
                Créateur: <small class="fw-bolder">{{ paint.author.name }}</small><br>
                Date de création: <small class="fw-bolder">{{ paint.createdAt|date('d/m/Y') }}</small><br>
                Dimension: <small class="fw-bolder">{{ paint.width }}x{{ paint.height }} pixels</small>
            </p>
        </div>
    </main>
{% endblock %}