{% extends 'base.html.twig' %}

{% block title %}Gallery - NFT ArtGallery!{% endblock %}
{#         <img src="{{ asset('img/painting/' ~ paint.image) }}" class="card-img" alt="...">
    {{ path('paintings', {id:paint.id}) }}
#}
{% block body %}
<main class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for paint in paintings %}
        <div class="col">
            <div class="card">
                <img src="{{ asset('img/painting/' ~ paint.image) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ paint.title }}</h5>
                    <p class="card-text"><a href="{{ path('detail', {id:paint.id}) }}" class="text-black">Plus de détails</a></p>
                    <p>Créateur: <small>{{ paint.author.name }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}