{% extends 'base.html.twig' %}

{% block body %}
    <!-- SLIDER -->
    <header>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('img/slider-1.jpeg') }}" alt="">
                    <div class="carousel-caption">
                        <h5>Virtual Art Gallery</h5>
                        <p>Nous avons imaginé cette galerie pour que tout le monde puisse partager son art.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/slider-img-2.jpeg') }}" alt="">
                    <div class="carousel-caption">
                        <h5>Priorité aux créateurs NFT</h5>
                        <p>Nous acceptons tous types de créateur d'art, mais nous privilégions les créateurs d'art numérique.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/slider-3.png') }}" alt="">
                    <div class="carousel-caption">
                        <h5>Que de l'expo !</h5>
                        <p>Nous avons créé ce site uniquement pour mettre en avant les créateurs, non pour la vente.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>

    <!-- CONTENT -->
    <section class="py-5">
        <div class="container">
            <h1 class="fw-light">Ceci est un test</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut erat in sapien feugiat vestibulum. Aliquam eget pellentesque ipsum, quis consectetur ante. Pellentesque at congue nulla. Phasellus malesuada ipsum eu arcu lobortis, eget mollis purus sodales. Phasellus id quam nec dui vehicula molestie posuere ac magna. Mauris non consectetur orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In eget fringilla nisl. Nunc sit amet ornare felis, vitae facilisis nulla. Sed feugiat sit amet tellus ac pretium.
            </p>
            <p>
                Pellentesque sodales velit vel facilisis aliquam. Aenean eget condimentum sem. Sed at finibus orci, sed accumsan ante. Sed interdum pretium turpis at feugiat. Duis sed urna nec nisl egestas facilisis. Proin nec est tristique, condimentum ante ut, ultrices libero. Pellentesque vitae erat metus. Etiam rutrum felis orci, eu finibus diam tincidunt a. Ut lobortis nisl vel tellus rutrum aliquet. Cras imperdiet leo sit amet nisl molestie accumsan. Mauris quam diam, tempor iaculis nisl at, imperdiet scelerisque orci. Praesent nec velit placerat, rhoncus diam et, tincidunt nulla. Donec id sodales odio. Nunc id sapien sit amet sem bibendum gravida sit amet at justo.            </p>
        </div>
    </section>
{% endblock %}
